.order-form {
  width: 700px;
  height: 350px;
  margin: 0 auto;
  background: url('../assets/img/ticket.png') no-repeat center center;
  background-size: contain;
}

.order-form__button {
  margin: 20px auto 0px;
  display: block;
  width: 170px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #5a2306;
  background-color: #ffc11c;
  border: 3px solid #5a2306;
  cursor: pointer;
  transform-origin: center center;
  transition: transform .3s, opacity .3s;
}

.order-form__ticket {
  height: 100%;
  padding: 90px 110px;
  box-sizing: border-box;
  
  div {
    margin-bottom: 22px;
    font-family: 'Oranienbaum', serif;
  }
}

.ticket__screening,
.ticket__subtitles,
.ticket__taper {
  
  input {
    background: transparent;
    font-family: 'Oranienbaum', serif;
    outline: none;
    height: 25px;
    border-width: 0px 0px 2px 0px;
    border-color: #5a2306;
    font-size: 18px;
  }
}

.ticket__title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 15px;
}

.ticket__text {
  font-size: 18px;
}